{# Наследование шаблонов #}
{# Наследование шаблонов позволяет создать основной шаблон, который содержит общие элементы, а частные места будут переопределять наследники. #}
{# Места, которые могут быть переопределены помечаются тегами {% block %} #}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
      <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/examp.css' %}">
    </head>
    <body>
    <div class="background-image">
            <img src="{% static 'photo/vakansia.jpg' %}" alt="Фоновое изображение">
        </div>
            <h1> Города, в котором открыта вакансия </h1>
        {# Наследование шаблонизации#}
        {% block content %}{% endblock %}

        <form method="GET" action="{% url 'filter' %}">
            <p></p>
            <input type="text" name="filter_keyword" placeholder="Введите город">

            <button type="submit">Найти</button>
        </form>
    </body>
</html>