{# Наследование шаблонов #}
{# Наследование шаблонов позволяет создать основной шаблон, который содержит общие элементы, а частные места будут переопределять наследники. #}
{# Места, которые могут быть переопределены помечаются тегами {% block %} #}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
      <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/examp.css' %}">
    </head>
    <body>
    <div class="background-image">
            <img src="{% static 'photo/vakansia.jpg' %}" alt="Фоновое изображение">
        </div>
            <h1> Выберите города в котором, нужно разместить вакансию </h1>
        {# Наследование шаблонизации#}
        {% block content %}{% endblock %}
{#        <form action="sendText" method="post" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            <h1> Найти вакансию: </h1>#}
{#            <input name="text" type="text"><br><br>#}
{#            <input type="submit" value="Submit">#}
{#        </form>#}
        <form method="GET" action="{% url 'filter' %}">
            <input type="text" name="filter_keyword" placeholder="Введите город">
{#                <select name="filter_field">#}
{#                    <option value="name">Город</option>#}
{#                    <option value="foundation_date">Дата основания</option>#}
{#                    <option value="GRP">ВРП</option>#}
{#                    <option value="сlimate">Климат</option>#}
{#                    <option value="square">Площадь</option>#}
{#                    <option value="status">Статус</option>#}
{#                    <option value="description">Описание</option>#}
{#                </select>#}
            <button type="submit">Найти</button>
        </form>
    </body>
</html>